:root {
  --color-white: #fff;
  --color-dark: #2b2b2b;
  --color-light: #f5f5f5;
  --color-gray: #e6e0e0;
  --color-success: #59cc36;

  --color-primary: #e85654;
  --color-warn: #ff392e;

  --header-height: 64px;

  --layout-spacing: 16px;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Inter', cursive;

  --font-base: 18px;
  --font-large: 24px;
  --font-small: 14px;
  --font-header: 32px;
}
