$navbar-height: 64px;

.app-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	.content {
		padding: var(--layout-spacing);
		height: calc(100% - #{$navbar-height});
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.no-body-padding {
	display: block;
	margin-right: calc(var(--layout-spacing) * -1);
	margin-left: calc(var(--layout-spacing) * -1);
}

.navbar {
	height: $navbar-height;
	display: flex;
	align-items: center;
	gap: 16px;
	background-color: var(--color-dark);

	img {
		height: 100%;
	}

	select {
		padding: 8px 16px;
		border: 1px solid #1f1f1f;
		text-align: center;
		position: relative;
		margin-left: auto;
		margin-right: 16px;
	}
}