:host {
	pre {
		font: var(--font-primary);
		overflow: scroll;
	}

	.buttons {
		display: flex;
		margin-top: 16px;
		gap: 8px;
	}

	.content-grid {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 10px;
	}
}