:host {
	.calendar {
		display: flex;
		flex-direction: column;
		gap: 1px;
		background-color: var(--color-gray);
		border-top: 1px solid var(--color-gray);
		border-bottom: 1px solid var(--color-gray);

		&-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 8px;
			margin-bottom: 24px;
		}
		
		&-options {
			display: flex;
			padding: 0 8px;
			margin-bottom: 24px;
			gap: 16px;
		}

		&-title {
			font-size: 32px;
			text-align: center;
		}

		&-title-days {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 1px;
			border-top: 1px solid var(--color-gray);
			> * {
				font-size: var(--font-small);
				text-align: center;
				margin-bottom: 4px;
				margin-top: 4px;
			}
		}
	}

	.calendar-week {
		display: grid;
		grid-auto-columns: minmax(0, 1fr);
		grid-auto-flow: column;
		// grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: minmax(60px, 80px);
		gap: 1px;
	}
	
	.calendar-day {
		background-color: white;
		padding: 4px;
		display: flex;
		flex-direction: column;
		width: 100%;
		flex-grow: 0;

		&.is-empty {
			background-color: var(--color-gray);
		}

		&.is-highlighted {
			box-shadow: inset 0 0 5px var(--color-primary);
		}

		&.is-today {
			.calendar-day-header {
				border-color: var(--color-primary);
				box-shadow: inset -12px 0px var(--color-primary);
			}
		}

		&-header {
			display: flex;
			align-items: center;
			gap: 4px;
			font-weight: bold;
			border-bottom: 2px solid var(--color-dark);
			font-size: 12px;
			margin-bottom: 4px;
		}
	}

	.calendar-filter {
		width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 8px;
	}

	.calendar-events {
		height: 100%;
	}
	.calendar-event {
		font-size: 10px;
		max-width: 100%;
		text-overflow: ellipsis;
		padding: 2px 4px;
		margin-bottom: 2px;
		border-radius: 4px;
		color: white;
		background-color: black;

		&.Prob {
			background-color: #009A44;
		}
		&.Sitzung {
			background-color: #FF8B28;
		}
		&.Event {
			background-color: #9C50B6;
		}
		&.Synth {
			background-color: #F4364C;
		}
		&.Vocals {
			background-color: #4169E1;	
		}
		&.Recording {
			background-color: #A0522D;
		}
	}

	.calendar-people {
		flex-shrink: 1;
		display: flex;
		gap: 4px;
		flex-wrap: wrap;
	}
	.calendar-person {
		height: 5px;
		width: 5px;
		border-radius: 100%;

		&.Thierry{
			background-color: #6867AC;
		}
		&.Dave {
			background-color: #D77FA1;
		}
		&.Luggy {
			background-color: #94B49F;
		}
		&.Fabe {
			background-color: #AD8B73;
		}
		&.Chobben {
			background-color: #FF7171;
		}
	}

	.calendar-editing-mode-done {
		display: flex;
		align-items: center;
		padding: 8px;
		color: var(--color-success);
		border: 2px solid var(--color-dark);
		background-color: white;
		border-radius: 100%;
		position: fixed;
		bottom: 16px;
		right: 16px;
	}

}